CREATE TABLE alembic_version (
    version_num VARCHAR(32) NOT NULL, 
    CONSTRAINT alembic_version_pkc PRIMARY KEY (version_num)
);

-- Running upgrade  -> 9d9a79964cf8

CREATE TABLE departments (
    id INTEGER NOT NULL, 
    name VARCHAR NOT NULL, 
    description VARCHAR, 
    created_at DATETIME, 
    PRIMARY KEY (id)
);

CREATE INDEX ix_departments_id ON departments (id);

CREATE UNIQUE INDEX ix_departments_name ON departments (name);

CREATE TABLE users (
    id INTEGER NOT NULL, 
    email VARCHAR NOT NULL, 
    hashed_password VARCHAR NOT NULL, 
    is_active BOOLEAN, 
    role VARCHAR(8) NOT NULL, 
    created_at DATETIME, 
    PRIMARY KEY (id)
);

CREATE UNIQUE INDEX ix_users_email ON users (email);

CREATE INDEX ix_users_id ON users (id);

CREATE TABLE audit_logs (
    id INTEGER NOT NULL, 
    user_id INTEGER, 
    action VARCHAR NOT NULL, 
    entity VARCHAR NOT NULL, 
    entity_id INTEGER, 
    timestamp DATETIME, 
    metadata_info JSON, 
    PRIMARY KEY (id), 
    FOREIGN KEY(user_id) REFERENCES users (id)
);

CREATE INDEX ix_audit_logs_action ON audit_logs (action);

CREATE INDEX ix_audit_logs_entity ON audit_logs (entity);

CREATE INDEX ix_audit_logs_id ON audit_logs (id);

DROP INDEX ix_feedback_id;

DROP TABLE feedback;

DROP INDEX ix_kpi_id;

DROP TABLE kpi;

ALTER TABLE employees ADD COLUMN user_id INTEGER;

ALTER TABLE employees ADD COLUMN department_id INTEGER;

ALTER TABLE employees ADD COLUMN manager_id INTEGER;

ALTER TABLE employees ADD COLUMN email VARCHAR NOT NULL;

ALTER TABLE employees ADD COLUMN date_joined DATETIME;

ALTER TABLE employees ADD COLUMN status VARCHAR;

ALTER TABLE employees ADD COLUMN performance_score FLOAT;

ALTER TABLE employees ALTER COLUMN name SET NOT NULL;

ALTER TABLE employees ALTER COLUMN role SET NOT NULL;

CREATE UNIQUE INDEX ix_employees_email ON employees (email);

CREATE INDEX ix_employees_name ON employees (name);

