fastapi
uvicorn
sqlalchemy
passlib[bcrypt]
bcrypt==3.2.0
pyjwt
python-jose
email-validator
google-auth
google-auth-oauthlib
requests
pydantic-settings
python-dotenv
psycopg2-binary
gunicorn
pandas
python-multipart
